html
  head
    title Partie 2
  body
    main
      h1 Le choixpeau magique
      p Le Choixpeau magique devine dans quelle maison vous appartenez, en fonction de vos réponses au questionnaire.

      h2 Commencer le questionnaire?
      p Le questionnaire comporte 20 questions qui permettra au Choixpeau magique de déterminner votre maison
      button#start Commencer

      div#questionnaire