html(theme="dark")
  head
	title Partie 2
	link(rel="shortcut icon", type="image/png", href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu1qHEB3LwWS6b93dw5aWaNRqDmyBg4L3N6R-MkUZUELjxX7awYHgrIrTltffg9d50mDE&usqp=CAU")
	link(rel="stylesheet", href="style.css")
	script(src="script.js")
  body
	button#theme
  
	h1 Le choixpeau magique
	p#subtitle Le Choixpeau magique devine dans quelle maison vous appartenez, #[br] en fonction de vos réponses au questionnaire. #[br] Le questionnaire comporte 20 questions qui permettront #[br] au Choixpeau magique de déterminer votre maison

	img(src="https://i.ytimg.com/vi/c5a3V1Tf7ig/maxresdefault.jpg", width="300")

	button#start Commencer le questionnaire
  
	section#progress
	section#survey(data-current-question="0")
	  h4#question Texte de la question
	  button(data-attributes="0 0 0 0") Réponse avec attributs 0 0 0 0
	  button(data-attributes="0 0 0 0") Réponse avec attributs 0 0 0 0
	  button(data-attributes="0 0 0 0") Réponse avec attributs 0 0 0 0
	  button(data-attributes="0 0 0 0") Réponse avec attributs 0 0 0 0
	  
	section#results